{% extends "layout.html" %}
{% block title %} doumixme blog {% endblock %}
{% block content %}
 <div class="container">
        <div class="jumbotron">
        <h1>Django Template and Bootstrap <sup>by doumixme </sup></h1>
        <p>Hello Djnago DJ Kang's here. Welcome to my lab.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="http://facebook.com/QuantMKT">
                그로스해커스 페이스북 그룹 &bkarow;
            </a>

        </p>
        </div>
    </div>
    {% block new %}
    {% endblock %}
{% endblock %}